@charset "utf-8";

/*
Stylesheet for contact form
Author: Dan Hunt
Date: 01.15.19
*/

/* Styles for field lines */

div.fieldLine {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 7px 0px;
}

div.fieldLine > * {
	flex: 1 1 150px;
	-webkit-flex: 1 1 150px;
}

form#contact > fieldset {
	border-radius: 20px;
	margin-bottom: 20px;
}

legend {
	color: white;
	background-color: aqua;
	border-radius: 20px;
	padding: 10px;
}

textarea {
	margin-top: 10px;
	height: 100px;
	width: 95%;
}

/* Styles for buttons*/

div#buttons {
	text-align: center;
	width: 100%;
}

input[type='submit'], input[type='reset'] {
	font-size: 1.2em;
	padding: 5px;
	margin: 15px;
	border-radius: 20px;
	color: white;
	background-color: aqua;
}

/* Input Styles */

input:focus, select:focus, textarea:focus {
	background-color: aqua;
}

input:invalid {
	background-color: red;
}

