@charset "utf-8";

/*
StyleSheet for all pages mobile and tablet
Author: Dan Hunt
Date: 01.15.19
*/

/*Mobile*/
@media only screen and (max-width: 480px) {
		
		nav.topNav ul li {
			white-space: nowrap;
			overflow: hidden;
		}
		
		nav.topNav > ul > li > a {
			font-size: 1em;
		}
		
		nav.footNav   {
			display: none;
		}				
}

/*Tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
	body {
		font-size: .8em;
		box-shadow: none;
	}
}

